<div class="card" style="width: 18rem;">
    <img src={{asset('media/image.jpeg')}}>
    <div class="card-body">
      </h2 class="card-title">Article</h2>
      <h5 class="font-weight-bold">99€</h5>
      <button type="button" class="btn btn-primary btn-sm">Plus d'infos</button>
    </div>
</div>