<div class="card" style="width: 18rem;">
    <img src={{asset('media/image.jpeg')}}>
    <div class="card-body">
      <p class="card-title h4">Article</p>

      <h5 class="font-weight-bold pb-2 mx-1 pe-2">99€</h5>
      <button type="button" class="btn btn-primary btn-sm me-5">Plus d'infos</button>
      <p class="font-weight-bold d-inline pe-2 ps-3">Pseudo34</p>
    </div>
    
</div>