<br>
<hr class="featurette-divider">
<br>
<p class="fs-2 ps-3">Des questions ?</p>
<div class="input-group px-3">
    <textarea class="form-control" aria-label="With textarea" placeholder="Votre question ici"></textarea>
    <button class="btn btn-outline-success" type="submit">Envoyer</button>
</div>
<br>
<br>

    <div class="mb-1 p1-5 pe-5">
        <input class="form-control" type="text" placeholder="Le t-shirt taille-t-il grand ?" aria-label="Disabled input example" disabled>
    </div>
    <fieldset disabled>
    <div class="mb-3 px-5 pe-1 fw-normal">
        <input class="form-control" type="text" value="Réponse du vendeur: Il taille correctement." aria-label="Disabled input example" disabled readonly>
      </div>