<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-black" href="{{ path('home') }}">La Bonne Affaire</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Annonces</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="#">S'inscrire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Se connecter</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>