{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<div class="card mb-3 pl-4 border border-white">
    <div class="row no-gutters">
      <div class="col-md-4 ps-4">
        <img src={{asset('media/image.jpeg')}} class="card-img-top mx-2 my-3">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title px-5">Titre de l'article</h5>
          <p class="card-text px-5">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text px-5 py-5 fw-bold">Publié par "Vendeur"</small></p>
          <p class="card-text px-5"><small class="text-muted">Mise à jour le ../../.. à ..:..</small></p>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_commentaires.html.twig' %}
{% endblock %}
